.
font-family: Arial, sans-serif;
            margin: 500px 0 0;
            padding: 500px;
            background-color:brown;
        }
        #Don {
            background-color:orange;
            color: black;
            padding: 20px;
            text-align: center;
        }
        section {
            padding: 20px;
            margin: 20px;
            background-color:brown;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            margin-top: 50;
        }
        p {
            line-height: 1.6;
        }